@font-face {
  font-family: "FriendlySans";
  src: url("../components/Button/Sigmar-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.span {
  position: absolute;
  left: 275px;
  bottom: 140px;
  font-size: 40px;
}

.main {
  width: 100%;

  font-family: "FriendlySans";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 0, 0),
    rgb(255, 228, 197) 26%,
    rgb(255, 195, 195) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(255, 0, 0),
    rgb(255, 228, 197) 26%,
    rgb(255, 195, 195) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(255, 0, 0),
    rgb(255, 228, 197) 26%,
    rgb(255, 195, 195) 100%
  );
}

.main_text_title {
  font-size: 25px;
  position: absolute;
  top: 125px;
  left: 50px;
}

.main_text {
  font-size: 21px;
}
.main_block {
  width: 760px;
  height: 300px;
  display: flex;
  border-radius: 20px;

  background: radial-gradient(circle, #ffebeb, #fd8e8e);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 19px 19px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 19px 19px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 19px 19px 8px 0px rgba(34, 60, 80, 0.2);
}

.hidden {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.9s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden:hover {
  opacity: 1;
}

.icon:nth-child(even) {
  position: relative;
  top: 15%;
}

.icon:nth-child(6) {
  position: relative;
  top: 15%;
  left: 12%;
}

.icon:nth-child(5) {
  position: relative;
  top: -10%;
  left: 2%;
}

.icon:nth-child(3) {
  position: relative;
  top: -19%;
  left: -6%;
}

.icon:nth-child(2) {
  position: relative;
  top: 18%;
  left: -5%;
}

.icon:first-child {
  position: relative;
  top: -22%;
  left: -11%;
}

.icon:last-child {
  position: relative;
  top: -22%;
  left: 12%;
  z-index: 100;
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.inner_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.floatingText {
  position: fixed;
  left: 50%;
  bottom: 0;
  font-family: "FriendlySans";
  transform: translateX(-50%) translateY(0);
  opacity: 0;
  font-size: 45px;
  font-weight: 600;
  color: #ff0000;
  pointer-events: none;
  z-index: 100000;

  animation: floatUp 1.2s forwards ease-out;
}

@keyframes floatUp {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(-50vh);
    opacity: 1;
  }
}

.hearts {
  position: absolute;
}
